<ion-view title="New">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <form ng-submit="submit()" novalidate>
    <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">Vehicle</div>
        <select ng-model="form.vehicle" ng-options="vehicle.id as (vehicle.source.vendor + ' ' + vehicle.source.model) for vehicle in vehicles"></select>
      </div>

      <label class="item item-input">
        <input ng-model="form.purchaseDateUtc" type="date" placeholder="Purchase date">
      </label>
      <label class="item item-input">
        <input ng-model="form.odometer" type="number" placeholder="Odometer">
      </label>
      <label class="item item-input">
        <input ng-model="form.price" type="number" placeholder="Price">
      </label>
      <label class="item item-input">
        <input ng-model="form.units" type="number" placeholder="Units">
      </label>

      <div class="item item-input item-select">
        <div class="input-label">Station</div>
        <select ng-model="form.station" ng-options="station.id as station.display for station in stations"></select>
      </div>

    </div>
    <div class="padding">
      <button class="button button-block button-positive">Create</button>
    </div>
  </form>
</ion-view>


